# openpose config files
# __author__ = "Haiyang Liu"

[dataloader]

[imgpreprocessing]

[encoding]

[train]

# for openpifpaf they use 0.001, 0.95 and 0, batch = 8
freeze = 3
epoch = 200
lr = 1.
decay = 0.
momentum = 0.90
nesterov = False
batch = 32


[weight]

load = './extra/save_for_openpose/weight/xx.pth'
save_val = './extra/save_for_openpose/weight/xx_val.pth'
save_train = './extra/save_for_openpose/weight/xx_train.pth'
vgg_url = ''

[log]
path = './extra/save_for_openpose/log'
